<html>
    <head>
        <title>Webpalz</title>
        <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/home.css')}}"/>
        <script language="JavaScript" type="text/javascript">
function al()
{
	{{if session.ral:}}
		alert("{{=session.ral}}");
		{{session.ral=None}}
	{{pass}}
	
}
</script>
    </head>
    <body onload="al()">
         {{user=db(db.User.userID==u.userID).select().first()}}
           <table width="759" border="0" align="center" cellpadding="0" cellspacing="0">
 		<tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" valign="top" colspan="2"><img src="{{=URL('static', 'images/webpalzn.jpg')}}" width="150" height="70" /></td>
            
          </tr>
        </table></td>
      </tr>
      <tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td  width="80%" align="left" valign="top" height="50"><form action="{{=URL('searchFriends')}}" method="post">&nbsp;&nbsp; <input type="text" name="txtSearch" placeholder="Search Friends"/><input type="submit" value="search"/></form></td>
            <td  width="20%" align="middle" valign="top"><a href="{{=URL('home')}}">Home</a>&nbsp;&nbsp;<a href="{{=URL('Logout')}}">Logout</a></td>
          </tr>
        </table></td>
      </tr>
      </table>
      
      <table width="759" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
 		<tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td  width="80%" align="left" valign="top">&nbsp;</td>
            <td  width="20%" align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        {{
           if not user.image:
         }}
	 	<td height="575" width="30%" align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{=URL('static', 'images/default.jpeg')}}" alt="" width="125" height="150"/>
         {{  pass
       
           else:
         }}
		<td height="575" width="30%" align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{=URL('download', args=user.image)}}" alt="" width="125" height="150"/><br/>
           {{pass
         }}
      
         
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=user.firstName}} {{=user.lastName}}
                    
                    <ul style="list-style-type:none">
                    <li>
                        <a href="{{=URL('changeImage',args=user.userID)}}">Change profile picture</a>
                    </li>
                    
                     <li>
                        <a href="{{=URL('editProfile',args=user.userID)}}">Edit profile</a>
                    </li>
                    
                     <li>
                        <a href="{{=URL('createAlbum',args=user.userID)}}">Album</a>
                    </li>
                    
                    <li>
                         <a href="{{=URL('sendMessage',args=user.userID)}}">Send Message</a>
                    </li>
                    
                    <li>
                        <a href="{{=URL('inbox',args=user.userID)}}">Inbox</a>
                    </li>
                    
                     <li>
                        <a href="{{=URL('outbox',args=user.userID)}}">Outbox</a>
                    </li>
                    
                     <li>
                        <a href="{{=URL('viewFriendRequests')}}">Friend requests</a>
                    </li>
                </ul>
                    </td>
            <td height="575" width="70%" align="left" valign="top" style="border-left:0.5px solid #86B404" ><div style="padding:0 0 0 10px;font-size:13px;font-style:italic">
            	
            	{{=forma}}          
            </div>
            <div style="margin:0 0 0 10px">
         
        {{i=0}}
        <table>
    	{{for post in posta:}}
	 	
	 	<tr><td>&nbsp;</td><td style="font-size:15px;" colspan="2">&nbsp;&nbsp;<embed src="{{=URL('download',args=post.photo)}}" width="300" height="300"/></td></tr>
	 	<tr><td>&nbsp;</td><td style="font-size:15px;" colspan="2">&nbsp;&nbsp;{{=post.photoBody}}</td></tr>
	 	{{for comment in comments[i]:}}
	 		<tr><td colspan="2">&nbsp;&nbsp;&nbsp;</td><td width="350px"><div style="margin:0 0 0 20px;font-size:10px;background-color:#fceabb;">
	 		<table>
	 		<tr><td valign="top">
	 		
	 		{{cu=db(db.User.userID==comment.commentedBy).select().first()}}
	 		<img src="{{=URL('download',args=cu.image)}}" alt="" width="30" height="20"/>
	 		
	 		</td><td rowspan="2" style="font-size:13px;" valign="top"><div style="margin:0 0 0 20px">{{=comment.commentBody}}</div></td></tr>
	 		<tr><td style="font-size:10px">
	 		
	 		{{=cu.firstName}} {{=cu.lastName}}
	 		
	 		
	 		</td></tr>
	 		</table>
	 		</div>
	 		
	 		
	 		</td></tr>
	 	{{pass}} 	
	 	<tr><td colspan="2">&nbsp;</td><td style="font-size:10px"><div style="margin:0 0 0 20px;">{{=form[i]}}</div></td></tr>
	 	{{i=i+1}}
	 	{{pass}}
		 	
	</table>
            
            
            </div>
            
            
            </td>
          </tr>
        </table></td>
      </tr>
      
    </table></td>
  </tr>
    </table></td>
  </tr>
            </table>
    </body>
    
</html>
