<html>
    <head>
      
	{{user=db(db.User.userID==session.userID).select().first()}}
	 {{friend=db(db.User.userID==session.friendID).select().first()}} 
        <title></title>
        <link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/home.css')}}"/>
    </head>
    <body>
         
           <table width="759" border="0" align="center" cellpadding="0" cellspacing="0">
 		<tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="80" align="left" valign="bottom"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="right" valign="top" colspan="2"><img src="{{=URL('static', 'images/webpalzn.jpg')}}" width="150" height="70" /></td>
            
          </tr>
        </table></td>
      </tr>
      <tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td  width="80%" align="left" valign="top" height="50"><form action="{{=URL('searchFriends')}}" method="post">&nbsp;&nbsp; <input type="text" name="txtSearch" placeholder="Search Friends"/><input type="submit" value="search"/></form></td>
            <td  width="20%" align="middle" valign="top"><a href="{{=URL('home')}}">Home</a>&nbsp;&nbsp;<a href="{{=URL('Logout')}}">Logout</a></td>
          </tr>
        </table></td>
      </tr>
      </table>
      
      <table width="759" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
 		<tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      
      <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td  width="80%" align="left" valign="top">&nbsp;</td>
            <td  width="20%" align="left" valign="top">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
    <td width="1010" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        {{
           if not friend.image:
         }}
	 	<td height="575" width="30%" align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{=URL('static', 'images/default.jpeg')}}" alt="" width="125" height="150"/>
         {{  pass
       
           else:
         }}
		<td height="575" width="30%" align="left" valign="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="{{=URL('download', args=friend.image)}}" alt="" width="125" height="150"/><br/>
           {{pass
         }}
      
         
                    
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{=friend.firstName}} {{=friend.lastName}}
                    
                    <ul style="list-style-type:none">
                   
                     <li>
                        <a href="{{=URL('viewFriends')}}">View profile</a>
                    </li>
                    
			{{
				isfriend= (db(db.Friends.friend==friend.userID).select().first() and db(db.Friends.userID==session.userID).select().first()) or (db(db.Friends.friend==session.userID).select().first() and db(db.Friends.userID==friend.userID).select().first()) 

				if isfriend and isfriend.addRequestStatus==str(1):
					
			}}

			
				
			     <li>
			        <a href="{{=URL('viewFriendAlbum',args=user.userID)}}"> View Album</a>
			    </li>

{{else:
	if isfriend and isfriend.addRequestStatus==str(0):}}
			<li>
	      			<a href="">Friend Request Sent</a>
	    		</li>
	
	{{else:}}
	     <li>
	        <a href="{{=URL('addFriend')}}">Add Friend</a>
	    </li>

		
	{{pass}}
{{pass}}
                </ul>
                    </td>
           

<td height="575" width="70%" align="left" valign="top" style="border-left:0.5px solid #86B404" ><div style="padding:0 0 0 10px;font-size:13px;font-style:italic">
 <div style="margin:0 0 0 10px">
         
        {{i=0}}
        <table>
    	{{for post in posta:}}
	 	
	 	<tr><td>&nbsp;</td><td style="font-size:15px;" colspan="2">&nbsp;&nbsp;<embed src="{{=URL('download',args=post.photo)}}" width="300" height="300"/></td></tr>
	 	<tr><td>&nbsp;</td><td style="font-size:15px;" colspan="2">&nbsp;&nbsp;{{=post.photoBody}}</td></tr>
	 	{{for comment in comments[i]:}}
	 		<tr><td colspan="2">&nbsp;&nbsp;&nbsp;</td><td width="350px"><div style="margin:0 0 0 20px;font-size:10px;background-color:#fceabb;">
	 		<table>
	 		<tr><td valign="top">
	 		
	 		{{cu=db(db.User.userID==comment.commentedBy).select().first()}}
	 		<img src="{{=URL('download',args=cu.image)}}" alt="" width="30" height="20"/>
	 		
	 		</td><td rowspan="2" style="font-size:13px;" valign="top"><div style="margin:0 0 0 20px">{{=comment.commentBody}}</div></td></tr>
	 		<tr><td style="font-size:10px">
	 		
	 		{{=cu.firstName}} {{=cu.lastName}}
	 		
	 		
	 		</td></tr>
	 		</table>
	 		</div>
	 		
	 		
	 		</td></tr>
	 	{{pass}} 	
	 	<tr><td colspan="2">&nbsp;</td><td style="font-size:10px"><div style="margin:0 0 0 20px;">{{=form[i]}}</div></td></tr>
	 	{{i=i+1}}
	 	{{pass}}
		 	
	</table>
            
            
            </div>
            
            

		
		</td>
          </tr>
        </table></td>
      </tr>
      
    </table></td>
  </tr>
    </table></td>
  </tr>
            </table>
    </body>
    
</html>
